.idea/*
**/.terraform
terraform-initial-setup/terraform.tfstate
act-secrets.env
**/.DS_Store
**/keys.txt
**/*.log*
__pycache__/
*.pyc
.venv/
.venv-relibank-tests/
.venv-relibank-tests
env/
venv/
*.env
*.tar
*.log
.vscode/
*.cache
model/
todos.md
skaffold
.venv/
.venv
build-output.json
