apiVersion: v1
kind: Secret
metadata:
  name: newrelic-secrets
  namespace: chatbot-remediator
type: Opaque
stringData:
  account-id: "${NEW_RELIC_ACCOUNT_ID}"
  license-key: "${NEW_RELIC_LICENSE_KEY}"
  user-api-key: "${NEW_RELIC_USER_API_KEY}"
---
apiVersion: v1
kind: Secret
metadata:
  name: azure-secrets
  namespace: chatbot-remediator
type: Opaque
stringData:
  azure-openai-api-key: "${AZURE_OPENAI_API_KEY}"
